version: '3.7'
services:
  prometheus:
  node-exporter:
    image: prom/node-exporter
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command: 
      - '--path.procfs=/host/proc' 
      - '--path.sysfs=/host/sys'
      - --collector.filesystem.ignored-mount-points
      - "^/(sys|proc|dev|host|etc|rootfs/var/lib/docker/containers|rootfs/var/lib/docker/overlay2|rootfs/run/docker/netns|rootfs/var/lib/docker/aufs)($$|/)"
    ports:
      - 9100:9100
    networks:
      - back-tier
    restart: always
    deploy:
      mode: global
  alertmanager:
  cadvisor:
  grafana:
  pushgateway:
  networkowl_mqtt:
    image: hikhvar/mqtt2prometheus
    ports:
      - "9641:9641"
    volumes:
      - ./mqtt2prometheus/networkowl_mqtt.yaml:/config.yaml
    networks:
      - back-tier
    restart: always

