# Settings for the MQTT Client. Currently only these three are supported
mqtt:
  # The MQTT broker to connect to
  server: tcp://192.168.127.85:1883
  # Optional: Username and Password for authenticating with the MQTT Server
  # user: bob
  # password: happylittleclouds
  # The Topic path to subscribe to. Be aware that you have to specify the wildcard.
  #topic_path: tele/+/SENSOR
  topic_path: networkowl/#
  # Optional: Regular expression to extract the device ID from the topic path. The default regular expression, assumes
  # that the last "element" of the topic_path is the device id.
  # The regular expression must contain a named capture group with the name deviceid
  # For example the expression for tasamota based sensors is "tele/(?P<deviceid>.*)/.*"
  device_id_regex: "networkowl/(?P<deviceid>.*)/.*"
  # The MQTT QoS level
  qos: 0
cache:
  # Timeout. Each received metric will be presented for this time if no update is send via MQTT.
  # Set the timeout to -1 to disable the deletion of metrics from the cache. The exporter presents the ingest timestamp
  # to prometheus.
  timeout: 24h
# This is a list of valid metrics. Only metrics listed here will be exported
metrics:
  # The name of the metric in prometheus
  - prom_name: networkowl_generated_energy_kilowatthours_today
    mqtt_name: "solar_genWattsToday"
    help: "solar PV power generated today"
    type: gauge
  - prom_name: networkowl_exported_energy_kilowatthours_today
    mqtt_name: "solar_expWattsToday"
    help: "solar PV power exported today"
    type: gauge
  - prom_name: networkowl_generated_energy_kilowatthours_now
    mqtt_name: "solar_genWattsNow"
    help: "solar PV power being generated now"
    type: gauge
  - prom_name: networkowl_exported_energy_kilowatthours_now
    mqtt_name: "solar_expWattsNow"
    help: "solar PV power being exported now"
    type: gauge
  - prom_name: networkowl_consumed_energy_kilowatthours_now
    mqtt_name: "elec_usedWattsNow"
    help: "power being using now"
    type: gauge
  - prom_name: networkowl_consumed_energy_kilowatthours_today
    mqtt_name: "elec_usedWattsToday"
    help: "power used today"
    type: gauge
  - prom_name: networkowl_heating_temp_now
    mqtt_name: "heatingTemp"
    help: "Heating temperature now"
    type: gauge
  - prom_name: networkowl_hotwater_temp_now
    mqtt_name: "hotWaterTemp"
    help: "Hot water temperature now"
    type: gauge
  - prom_name: networkowl_weather_code
    mqtt_name: "weatherCode"
    help: "Weather Code"
    type: gauge
  - prom_name: networkowl_weather_temp
    mqtt_name: "temperature"
    help: "Weather temperature"
    type: gauge